html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("images/black-baground.png");
    background-repeat: no-repeat;
    background-size: 500%;
}

.card{
    align-items: center;
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#users{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: #B68E26
}

p{
    color: white;
}

h1{
    text-align: center;
    color: #B68E26;
}